<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>


<h2>Please log in</h2>
<%= form_with url: '/login' do |f| %>
    <%= f.label :"User Name" %>
    <%= f.text_field :user_name %>
    <%= f.submit "Login"%>
<% end %>
